.App {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;



}

.Container {

  display: flex;
  flex-direction: row;
  width: 50%;
}

.PaveOperationContainer {
  display: flex;
  flex-direction: column;
  width: 5%;
  align-items: flex-end;
}

.PaveNumberContainer {
  display: table;
  flex-direction: row;
  width: 180px;
}

.number{
  display: table-cell;
  height: 30px;
  width: 30px;
  margin: 10px;
}
.other {
  height: 30px;
  width: 30px;
  margin: 10px;
}
.Result{
  width: 100%;
  border: black 8px;
}
